* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #00C044;
}


body {
    background-color: #1D1F31;
}

/* HEADER */
   
header {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
}

.logo img {
    width: 90px;
}

.logo img:hover {
    filter: hue-rotate(130deg);
}

h1 {
    text-align: center;
    padding-left: 10px;
    font-size: 34px;
    margin: auto 0;
    margin-left: 20px;
} 

.bookmark-controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

button, input[type=submit] {
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    background-color: darkblue;
    border: 2px solid darkorange;
    border-radius: 15px;
}

a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    color: #B15B21;
}

a:hover {
    color: #CD00FF;
}

/* MAIN */

main {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px auto;
    width: 80%;
    
}

main ul li {
    margin: 10px;
    border: 1px solid yellow;
    padding: 10px;
    list-style: none;
}

main ul li .bookmark-bubble > *{
    margin: 10px;
}


